<% content_for :javascript do %>
  <script type="text/javascript">
     ShopifyApp.ready(function(){
       ShopifyApp.Bar.initialize({ title: "Product Video" });
     });
  </script>
<% end %>
<h2 class="text-center">Upload Video</h2>

<%= render 'form', video_configration: @video_configration %>
